<nav class="navbar navbar-expand-md" style="background-color: #b9b1a8;">
    <div class="container">
        <span class="navbar-brand" (click)="onHome()">Harrison Sanders</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item clickable">
              <a class="nav-link " (click)="onResume()">Resume</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="onPortfolio()">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="onGetToKnow()">About Me</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="onContact()">Contact</a>
            </li>
          </ul>
        </div>
    </div>
</nav>