<local-header [title]="'Contact'"></local-header>
<div class="row justify-content-center">
    <div class="col-12 col-lg-8">
        <div class="card mb-4">
            <div class="card-body">
                <h2 class="card-title mb-1">Haven Sanders</h2>
                <h6 class="mb-3">Game Designer</h6>
                <h4 class="card-title mt-4 mb-1">Lets talk!</h4>
                <h6 class="card-subtitle">Phone</h6>
                <p class="card-title" style="color: white">+1 (517) 231-8257</p>
                <h6 class="card-subtitle">Email</h6>
                <p class="card-title" style="color: white">haven@havensanders.com</p>
            </div>
        </div>
    </div>
</div>