<local-header [title]="'Contact'"></local-header>
<div class="row justify-content-center">
    <div class="col-12 col-md-6">
        <div class="card mb-4">
            <div class="card-body">
                <h3 class="card-title">Harrison Sanders</h3>
                <h6 class="card-subtitle">Game Programmer.</h6>
                <h6 class="card-subtitle">Technical Designer.</h6>
                <h6 class="card-subtitle">Web Developer.</h6>

                <h4 class="card-title mt-2">Lets talk!</h4>

                <h6 class="card-subtitle">Phone</h6>
                <p class="card-title" style="color: white">+1 (517) 231-8257</p>
                <h6 class="card-subtitle">Email</h6>
                <p class="card-title" style="color: white">harrison@harrisonsanders.com</p>
            </div>
        </div>
    </div>
</div>