.overlay {
    position: fixed; /* Sit on top of the page content */
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

/* mixin for multiline */
//http://hackingui.com/front-end/a-pure-css-solution-for-multiline-text-truncation/
@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white){
    overflow: hidden;
    position: relative;
    line-height: $lineHeight;
    max-height: $lineHeight * $lineCount; 
    //text-align: justify;
    margin-right: -1em;
    padding-right: 1em;
    &:before {
      content: '...';
      position: absolute;
      right: .25rem;
      bottom: 0;
    }
    &:after {
      content: '';
      position: absolute;
      right: 0;
      width: 1em;
      height: 1em;
      margin-top: 0.2em;
      background: $bgColor;
    }
  }
  
.block-with-text {
    @include multiLineEllipsis($lineHeight: 1.2em, $lineCount: 2, $bgColor: white);  
}

.top-descriptor {
    padding-bottom: .5rem;
    border-bottom: 1px solid grey;
    margin-bottom: .5rem;
}

.descriptor {
    padding: 1.25rem 0;
}

.back {
    font-size: 1.75rem;
    padding: .25rem;
}

.play {
    font-size: 2rem;
    padding: .5rem;
    background-color: black;
}

.ios {
    font-size: 1.5rem;
    padding: .25rem;
    background-color: #1d71f2;
}

.android {
    font-size: 1.5rem;
    padding: .25rem;
    background-color: #a4c639;
}