<local-header [title]="'Portfolio'"></local-header>
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 mt-4" *ngFor="let game of games">
        <div class="card">
            <img class="card-img-top" src="{{game.logo}}" (click)="onGameSelected()">
            <div class="card-body">
                <h5 class="card-title">{{game.title}}</h5>
                <h6 class="card-subtitle">{{game.year}}</h6>
                <p class="card-text">{{game.description}}</p>
                <a (click)="onGameSelected()" class="card-link">More Info</a>
            </div>
        </div>
    </div>
</div>