
/* mixin for multiline */
//http://hackingui.com/front-end/a-pure-css-solution-for-multiline-text-truncation/
@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: #4b4d52){
    overflow: hidden;
    position: relative;
    line-height: $lineHeight;
    max-height: $lineHeight * $lineCount; 
    //text-align: justify;
    margin-right: -1em;
    margin-bottom: 0.4em;
    padding-right: 1em;
    &:before {
      content: '...';
      position: absolute;
      right: .25rem;
      bottom: 0;
    }
    &:after {
      content: '';
      position: absolute;
      right: 0;
      width: 1em;
      height: 1em;
      margin-top: 0.2em;
      background: $bgColor;
    }
  }
  
  .block-with-text {
    @include multiLineEllipsis($lineHeight: 1.3em, $lineCount: 3);  
  }

  .ovh {
    overflow: hidden !important;
    max-height: 100%;
  }

  .carousel-control-prev { margin-left: -3.1rem;}
  .carousel-control-next { margin-right: -3.1rem;}