<local-header [title]="'Resume'"></local-header>

<div class="row justify-content-center mb-4">
    <div class="col-10 col-lg-8 col-xl-6">
        <div class="card" style="background-color: lightgrey;">
            <div class="card-body">
                <button class="btn btn-secondary btn-block" (click)="onDownload()">View/Download a PDF Copy</button>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center mb-4">
    <div class="col-12 col-lg-9">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Game Designer</h4>
                <p class="card-text text-light">6 years of AAA experience. Comfortable with Content Scripting and Gameplay System Design. Familiar with learning in-house tools/scripting languages. Collaborative and Team-Oriented.</p>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center mb-4">
    <div class="col-12 col-lg-9">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Experience</h4>
                <h6 class="card-subtitle">Technical Gameplay Designer</h6>
                <p class="business">Iron Galaxy Studios</p>
                <p class="year">June 2022 - Present</p>
                <ul style="margin-bottom: 2.5rem;">
                    <li class="text-light">Collaborated with external clients and Iron Galaxy team members on multiple projects</li>
                    <li class="text-light">Lead a project team creating <i>Deathtrap Dungeon</i>, an experimental foray into Fortnite Island creation</li>
                    <li class="text-light">Designed and implemented a data-driven NPC system that enabled efficient creation, placement, and testing of NPCs in <i>Tony Hawk’s Pro Skater 3+4</i>; Created multiple configurable AI behaviors for use in the system</li>
                    <li class="text-light">Crafted a new player progression system for <i>Tony Hawk’s Pro Skater 3+4</i> within an existing framework, writing design documentation and overseeing implementation</li>
                </ul>
                <h6 class="card-subtitle">Open World Designer</h6>
                <p class="business">Rockstar Games San Diego</p>
                <p class="year">June 2019 - June 2022</p>
                <ul style="margin-bottom: 2.5rem;">
                    <li class="text-light">Collaborated with a team to concept, construct, and ship multiple DLCs for the open-world multiplayer game <i>Red Dead Online</i></li>
                    <li class="text-light">Designed, scripted, and produced open world encounters for players to organically discover in the upcoming <i>Grand Theft Auto</i> entry</li>
                    <li class="text-light">Built components and systems to assist the construction of an open world, simplifying and data-driving common tasks like displaying a visual element or tracking objectives</li>
                </ul>
                <h6 class="card-subtitle">Technical Designer and Gameplay Programmer</h6>
                <p class="business">Games for Entertainment and Learning Lab, Michigan State University</p>
                <p class="year">May 2018 - May 2019</p>
                <ul>
                    <li class="text-light">Designed, developed, and released games for clients on various multi-disciplinary teams</li>
                    <li class="text-light">Lead Technical Designer for <i>Quantum 3</i>, an educational match-3 game; Programmed game systems and visual interactions, designed levels/UI layouts, made 2D animations, and edited promotional materials</li>
                    <li class="text-light">Assisted with programming and design tasks for releases <i>Monster Savings</i> and <i>When Rivers Were Trails</i></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center mb-4">
    <div class="col-12 col-lg-9">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Skills</h4>
                <div class="row">
                    <div class="col-12">
                        <h6 class="card-subtitle">Design</h6>
                        <ul style="margin-bottom: 2rem;">
                            <li class="text-light">Proficient in Gameplay Systems Design, Open World Design, and Technical Design</li>
                            <li class="text-light">Comfortable learning and mastering in-house tools, languages, and workflows</li>
                            <li class="text-light">Master of Visual Scripting, Blueprints, and Behavior Trees</li>
                            <li class="text-light">Familiar with using Audio, UI, and VFX to effectively enhance content</li>
                        </ul>
                    </div>
                    <div class="col-12">
                        <h6 class="card-subtitle">Technical</h6>
                        <ul style="margin-bottom: 2rem;">
                            <li class="text-light">Fluent in C# (Unity API & Otherwise), Python, and Visual Scripting tools (UE4/5)</li>
                            <li class="text-light">Strong Technical Problem Solver familiar with debugging via Visual Studio</li>
                            <li class="text-light">Experience in JavaScript/TypeScript, CSS, SQL, and Database management</li>
                        </ul>
                    </div>
                    <div class="col-12">
                        <h6 class="card-subtitle">Soft</h6>
                        <ul class="">
                            <li class="text-light">Expert in using team collaboration to discuss ideas, learn, and help others</li>
                            <li class="text-light">Experience with leadership and effectively communicating requests to teams</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center mb-4">
    <div class="col-12 col-lg-9">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Education</h4>
                <h6 class="card-subtitle">Michigan State University</h6>
                <p class="card-body" style="padding-top: 0.5rem; padding-bottom: 0; margin-bottom: 0;">Bachelors in Computer Science
                <br/>Minor in Game Design and Development
                <br/>May 2019 | 3.9 GPA</p>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center mb-4">
    <div class="col-12 col-lg-9">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Outside of Work</h4>
                <h6 class="card-subtitle">Coastal Communities Concert Band</h6>
                <p class="business">Principal Euphonium</p>
                <p class="year">2019-2022</p>
                <h6 class="card-subtitle">Lakeside Pride Music Ensemble</h6>
                <p class="business">Euphonium</p>
                <p class="year">2023-Present</p>
                <h6 class="card-subtitle">Interests</h6>
                <p class="year" style="padding-bottom: 0; margin-bottom: 0;">Board Gaming // Basketball // D&D // Making Music</p>
            </div>
        </div>
    </div>
</div>