<local-header [title]="'Resume'"></local-header>

<div class="row justify-content-center mb-4">
    <div class="col-10 col-lg-8 col-xl-6">
        <div class="card" style="background-color: lightgrey;">
            <div class="card-body">
                <button class="btn btn-secondary btn-block" (click)="onDownload()">View/Download a PDF Copy</button>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center mb-4">
    <div class="col-12 col-lg-9 col-xl-8">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Game Designer</h4>
                <p class="card-text text-light">3 years of AAA experience. Comfortable with Level, Encounter, and Gameplay System Design. Familiar with learning in-house tools/scripting languages. Collaborative and Team-Oriented.</p>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center mb-4">
    <div class="col-12 col-lg-9 col-xl-8">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Experience</h4>
                <h6 class="card-subtitle">Open World Designer</h6>
                <p class="business">Rockstar Games San Diego</p>
                <p class="year">July 2019 - Present</p>
                <ul style="margin-bottom: 2.5rem;">
                    <li class="text-light">Collaborated with a team to construct multiple DLCs for the open world multiplayer game <i>Red Dead Online</i></li>
                    <li class="text-light">Designed and produced open world encounters for players to organically discover</li>
                    <li class="text-light">Built components and systems to assist the construction of an open world, simplifying and data-driving common tasks like displaying a visual element or tracking objectives</li>
                </ul>
                <h6 class="card-subtitle">Technical Designer and Gameplay Programmer</h6>
                <p class="business">Games for Entertainment and Learning Lab, Michigan State University</p>
                <p class="year">May 2018 - May 2019</p>
                <ul style="margin-bottom: 2.5rem;">
                    <li class="text-light">Designed, developed, and released games for clients on various multi-disciplinary teams</li>
                    <li class="text-light">Lead Technical Designer for <i>Quantum 3</i>, an educational match-3 game; Programmed game systems and visual interactions, designed levels/UI layouts, made 2D animations, and edited promotional materials</li>
                    <li class="text-light">Assisted with programming and design tasks for releases <i>Monster Savings</i> and <i>When Rivers Were Trails</i></li>
                </ul>
                <h6 class="card-subtitle">Software Developer</h6>
                <p class="business">Auto-Owners Insurance</p>
                <p class="year">May 2017 - June 2019</p>
                <ul class="">
                    <li class="text-light">Collaborated with a team to build Angular/.NET/SQL web applications for ticket ordering, storing documentation, and registering for insurance exams</li>
                    <li class="text-light">Maintained a legacy C# client application and a SharePoint site for mass emailing</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center mb-4">
    <div class="col-12 col-lg-9 col-xl-8">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Skills</h4>
                <div class="row">
                    <div class="col-12">
                        <h6 class="card-subtitle">Design</h6>
                        <ul style="margin-bottom: 2rem;">
                            <li class="text-light">Proficient in Open World Design, Level Design, and Gameplay Systems Design</li>
                            <li class="text-light">Comfortable learning and mastering in-house tools, languages, and workflows</li>
                            <li class="text-light">Experience with Visual Scripting, Blueprints, and Behavior Trees</li>
                            <li class="text-light">Familiar with using Audio, UI, and VFX to effectively enhance content</li>
                        </ul>
                    </div>
                    <div class="col-12">
                        <h6 class="card-subtitle">Technical</h6>
                        <ul style="margin-bottom: 2rem;">
                            <li class="text-light">Fluent in C# (Unity API & Otherwise), Python, and Visual Scripting tools</li>
                            <li class="text-light">Strong Technical Problem Solver familiar with debugging via Visual Studio</li>
                            <li class="text-light">Experience in JavaScript/TypeScript, CSS, SQL, and Database management</li>
                        </ul>
                    </div>
                    <div class="col-12">
                        <h6 class="card-subtitle">Soft</h6>
                        <ul class="">
                            <li class="text-light">Familiar with using team collaboration to discuss ideas, learn, and help others</li>
                            <li class="text-light">Experience with effectively communicating requests to other teams</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center mb-4">
    <div class="col-12 col-lg-9 col-xl-8">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Education</h4>
                <h6 class="card-subtitle">Michigan State University</h6>
                <p class="card-body" style="padding-top: 0.5rem; padding-bottom: 0; margin-bottom: 0;">Bachelors in Computer Science
                <br/>Minor in Game Design and Development
                <br/>May 2019 | 3.9 GPA</p>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center mb-4">
    <div class="col-12 col-lg-9 col-xl-8">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Outside of Work</h4>
                <h6 class="card-subtitle">Coastal Communities Concert Band</h6>
                <p class="business">Principle Euphonium</p>
                <p class="year">2019-Present</p>
                <h6 class="card-subtitle">Interests</h6>
                <p class="year" style="padding-bottom: 0; margin-bottom: 0;">Board Gaming // Basketball // D&D // Making Music</p>
            </div>
        </div>
    </div>
</div>