/* You can add global styles to this file, and also import other style files */
body {
    background-color: #393939;
}
img {
    width: 100%;
}
.clickable {
    cursor: pointer;
}
h1, h2, h3 {
    color: #FF5A09;
}
.card {
    background-color: #4b4d52;
}
.line {
    border-bottom: 2px solid #ec7f37;
}
.bg-dark {
    background-color: #b9b1a8;
}
.card {
    color: white;
    p {
        color: #b9b1a8;
    }
}
p {
    color: #b9b1a8;
}