<div class="card mt-4" style="background-color: rgb(29, 29, 29);">
    <div class="row">
        <div class="col-11 col-lg-7 header mb-3 ml-4">
            <h1>Harrison Sanders</h1>
            <h2>Game Designer</h2>
        </div>
        <div class="col-12 col-lg-4 header mb-3 ml-4 d-xl-block d-none" style="margin-top: 2.35rem;">
            <h4 class="float-lg-right">harrison@harrisonsanders.com</h4>
            <h4 class="float-lg-right">(517) 231-8257</h4>
        </div>
    </div>
</div>
<projects></projects>
<about></about>
