<div class="row justify-content-center d-none d-sm-block">
    <div class="col-12 mb-4 header">
        <h1 [@nameIn]="">Harrison Sanders</h1>
        <h4 [@titleIn]="">Game Programmer - Technical Designer - Web Developer</h4>
        <h6 [@titleIn]="">Sound Designer - Video Editor</h6>
    </div>
</div>
<div class="row justify-content-center d-sm-none">
    <div class="col-12 header">
        <h1>Harrison Sanders</h1>
    </div>
</div>
<div class="row justify-content-center d-sm-none">
    <div class="col-7 mb-2 header" [@titleIn]="">
        <h4 style="border-bottom: 1px solid white;">Game Programmer</h4>
        <h4 style="border-bottom: 1px solid white;">Technical Designer</h4>
        <h4>Web Developer</h4>
    </div>
</div>
<div class="row justify-content-center d-sm-none">
    <div class="col-12 mb-4 header" [@titleIn]="">
        <h6>Sound Designer - Video Editor</h6>
    </div>
</div>
<div class="row" [@buttonsIn]="">
    <div class="col-6 col-md-3 mb-3">
        <button type="button" class="btn btn-block btn-outline-light" style="height: 50px;" (click)="onResume()">Resume</button>
    </div>
    <div class="col-6 col-md-3 mb-3">
        <button type="button" class="btn btn-block btn-outline-light" style="height: 50px;" (click)="onPortfolio()">Portfolio</button>
    </div>
    <div class="col-6 col-md-3 mb-3">
        <button type="button" class="btn btn-block btn-outline-light" style="height: 50px;" (click)="onAbout()">About</button>
    </div>
    <div class="col-6 col-md-3 mb-3">
        <button type="button" class="btn btn-block btn-outline-light" style="height: 50px;" (click)="onContact()">Contact</button>
    </div>
</div>
<div class="row justify-content-center">

</div>
