<local-header [title]="'Welcome!'"></local-header>
<div class="row">
    <div class="col-md-3 col-sm-12">
        <carousel></carousel>
    </div>
    <div class="col-md-9 col-sm-12">
        <div class="card">
            <div class="card-body">
                <p class="card-text">Hello! My name is Harrison Sanders, a Computer Science Major with a Game Design and Development Minor at Michigan State University. I will graduate in May 2019. This website serves as a one-stop-shop for my resume, portfolio, and some other odds and ends I have created.</p>
                <p class="card-text">This website was written utilizing Angular, Sass, and Bootstrap. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mt-4">
                <button type="button" class="btn btn-block btn-outline-light">Resume</button>
            </div>
            <div class="col-md-4 mt-4">
                <button type="button" class="btn btn-block btn-outline-light">Portfolio</button>
            </div>
            <div class="col-md-4 mt-4">
                <button type="button" class="btn btn-block btn-outline-light">About Me</button>
            </div>
        </div>
    </div>
</div>