<div class="row" *ngIf="displayFooter">
    <div class="col-sm-12 mt-4">
        <div class="footer">
            <div class="row" *ngIf="displayContact">
                <div class="col-sm-12 col-md-6 mt-4 mb-2 mb-md-4">
                    <h2>Harrison Sanders</h2>
                    <h4>harrison@harrisonsanders.com</h4>
                    <h4>(517) 231-8257</h4>
                </div>
                <div class="col-sm-12 col-md-6 mt-md-4 mb-4 right">
                    <a (click)="homeClick()"> home </a>|
                    <a (click)="resumeClick()"> resume </a>|
                    <a (click)="portfolioClick()"> portfolio </a>|
                    <a (click)="aboutClick()"> about </a>
                </div>
            </div>
        </div>
    </div> 
</div>