.footer {
    border-top: 2px solid #ec7f37;
    .right {
        font-size: 1rem;
        color: floralwhite;
        @media (min-width: 768px) {
            text-align: right;
        }
    }
    h2 {
        color: #FF5A09;
    }
    h4 {
        margin-bottom: 0;
        color: floralwhite;
        font-size: 1.5rem;
    }
    .white {
        font-size: 1rem;
        color: floralwhite;
    }
}